/*-------------------------------------------------------start */

body {
  background-color: #354251;
  color: #dabe76;
  font-family: Jost, serif;
  font-size: 1.35rem;
}

p {
  margin: auto;
  text-align: center;
  width: 88%;
}

/*-----------------------------------------------------header */

.header {
  color: #dabe76;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-top: 0.625rem;
  text-align: center;
}

/*-----------------------------------------------------menu */

nav a {
  color: #354251;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: #7051ff;
  color: #51ff51;
}

nav li {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.4375rem;
}

nav ul {
  background-color: #dabe76;
  border-radius: 0.33rem;
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

/*----------------------------------------------------links */

.links {
  text-align: left;
}

/*----------------------------------------------------flexibles */

.container {
  background-color: #efdeba;
  border-radius: 0.33rem;
  color: #010b13;
  font-size: 1.35rem;
  font-weight: 500;
  padding-top: 0.2rem;
  padding-right: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.375rem;
  position: static;
  text-align: center;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container > div {
  margin: 0.4rem;
  padding: 1.2rem;
}

/*----------------------------------------------------sizing */

#cdse-email-poster {
  height: 28.313rem;
  width: 21.875rem;
}

#cyber-enforcers-big {
  height: 14.375rem;
  width: 21.875rem;
}

#cyber-enforcers-small {
  height: 4.75rem;
  width: 21.875rem;
}

/*-----------------------------------------------------footer */

footer {
  height: 3rem;
}

/*----------------------------------------------------website credit */

#websitecredit {
  color: #cabdae;
  font-size: 0.9rem;
  padding-bottom: 0.6rem;
}

/*----------------------------------------------------quiz */

.quiz {
  color: #0b48ff;
  font-weight: 500;
  text-decoration: underline;
}

/*----------------------------------------------------jotform */

#JotFormIFrame-231864072231349 {
  border: none;
  height: 33.6875rem;
  max-width: 100%;
  min-width: 100%;
}

/*----------------------------------------------------media queries */

@media only screen and (min-width: 37.5625rem) {
  .container {
      width: 52%;
  }
}

@media only screen and (min-width: 37.5625rem) {
  nav ul {
      width: 58%;
  }
}

@media only screen and (min-width: 37.5625rem) {
  p {
      width: 56%;
  }
}

/*----------------------------------------------------end */
